<ion-view view-title=""  hide-nav-bar="false" cache-view="false">

	
  
  
	<ion-nav-title align-title="left">
        <img class="title-image" src="img/head_logo.png" />
    </ion-nav-title>
    
   
    <ion-content class="content" style="background-color:#f1f2f2">
    

	<div id='map'></div>

	
	


	
		
  </ion-content>
  
  
    <ion-footer-bar style="height:80px; background-color:#f1f2f2;">
		
        <!-- Footer Bar 59595b -->
        <div class="mainFooter" >
        	<div class="mainFooterTab">
            	<p>{{'Weather' | translate}} : {{CurrentWeather}} &#176;C </p> <!-- {{'Degrees' | translate}} -->
            </div>
            <div class="mainFooterTab" ui-sref="app.moneyexchange()">   
            	<p>{{'MoneyExchange' | translate}} <i class="ion-ios-arrow-right"></i> </p> 
            </div>
            <div class="mainFooterTab" ui-sref="app.traslations()">
            	<p>{{'Translation' | translate}} <i class="ion-ios-arrow-right"></i> </p>
            </div>
        </div>

    </ion-footer-bar>

	
</ion-view>
