<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content drag-content="false">
    <ion-nav-bar align-title="center" class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="right">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="right">
    <ion-header-bar class="bar-stable">
      <h1 class="title"></h1>
    </ion-header-bar>
    <ion-content>
	
	
      <ion-list >


       <ion-item menu-close href="#/app/main" class="menuTabSelected" style="text-align:right;">
		{{'MainMenu' | translate}}
       </ion-item>
	   

	   
	   
		</ion-list>
	   
	

    </ion-content>
  </ion-side-menu>
</ion-side-menus>
