<ion-view view-title=""  hide-nav-bar="false" cache-view="false">

	
  
  
	<ion-nav-title align-title="left">
        <img class="title-image" src="img/head_logo.png" />
    </ion-nav-title>
    
   
    <ion-content class="content" style="background-color:#f1f2f2">
    
        <div class="ListRow" ng-repeat="item in locationsArray " ui-sref="app.location_details({ItemId:item.id})">
            <div class="ListRight">
				<img  ng-src="{{phpHost}}/{{item.image}}" style="width:100%; margin-top:-3px;"  />
            </div>
            <div class="ListCenter" >
            	<h3>{{item.title | stripslashes}}</h3>
            </div>


            <div class="ListLeft">
            	<img  src="img/arrow.png" style="width:100%; " />
            </div>
            <div>
        		<img  src="img/line.png" style="width:100%; margin-top:-3px;" />
        	</div>
    	</div> 
	
  </ion-content>
</ion-view>
