<ion-view view-title=""  hide-nav-bar="true" cache-view="false">
	<ion-nav-title align-title="left">
        <img class="title-image" src="img/head_logo.png" />
    </ion-nav-title>


<ion-header-bar  style="background-color:#f1f2f2; height:130px;">
    <div style="width: 100%;">
         <div class="mainHeader" >
            <div class="mainHeaderLeft" ng-click="goBackButton()">
            	<div class="mainHeaderLeftImg" >
					      <i class="icon ion-ios-arrow-back" style="font-size:30px;"></i>
               		<!-- <img  src="img/svg/prev.svg" style="width:100%; background-color:black" /> -->
               		<!--<img  src="img/svg/menuicon.svg" style="width:100%" />-->
                </div>
                <div class="mainHeaderTitle" style="margin-top:3px;">
                	{{CityData.info[0].title | stripslashes}}
                </div>
            </div>

            <div class="mainHeaderRight" align="right">
            	<div class="mainHeaderRightImg" ng-click="logoBackHome()">
                	<img  src="img/svg/applogo.svg" style=" height:40px; "  />
                </div>
            </div>
         </div>

            <div class="HeaderTabs" style="margin-top:10px; height:100px !important;  width: 106%; ">  <!-- #336699 -->
              <ion-scroll  direction="x" class="wide-as-needed" delegate-handle="daysScroll" style="margin-top:5px; width: 106%; height: 100px; ">
                  <div ng-click="setActiveTab(1)" class="button  daysButton1"  > {{'CityInfo' | translate}} </div>
                  <div ng-click="setActiveTab(2)" class="button  daysButton1"  > {{'Places' | translate}} </div>
                  <div ng-click="setActiveTab(3)" class="button  daysButton1"  > {{'Map' | translate}} </div>
                  <div ng-click="setActiveTab(4)" class="button  daysButton1"  > {{'PlayList' | translate}} </div>
              </ion-scroll>
            </div>

		<!--
         <div class="HeaderTabs" style="margin-top:50px;">
            <div ng-class="{'leftHeaderTabsActive': ActiveTab == 1 , 'leftHeaderTabs': ActiveTab != 1 }" ng-click="setActiveTab(1)">
                {{'CityInfo' | translate}}
            </div>
            <div  ng-class="{'centerHeaderTabsActive': ActiveTab == 2 , 'centerHeaderTabs': ActiveTab != 2 }"  ng-click="setActiveTab(2)">
                {{'Places' | translate}}
            </div>
            <div  ng-class="{'rightHeaderTabsActive': ActiveTab == 3 , 'rightHeaderTabs': ActiveTab != 3 }"  ng-click="setActiveTab(3)">
                {{'Map' | translate}}
            </div>
            <div  ng-class="{'rightHeaderTabsActive1': ActiveTab == 4 , 'rightHeaderTabs1': ActiveTab != 4 }"  ng-click="setActiveTab(4)">
                {{'PlayList' | translate}}
            </div>
  		 </div>
		-->



        </div>
</ion-header-bar>

    <ion-content class="content" style="top:100px; background-color:#f1f2f2">



	<!-- מידע על העיר -->
	<div class="infoGallery" align="center" ng-if="ActiveTab == 1">
		<ion-slide-box  ng-if="CityGallery.length > 0 ">
			  <ion-slide ng-repeat="item in CityGallery" >
				 <img ng-src="{{phpHost}}/{{item.image}}" ng-click="showCityImageModal(phpHost+item.image)"  style="width:100%" />
			  </ion-slide>
		</ion-slide-box>

    <div ng-if="CityGallery.length == 0" ng-click="showCityImageModal(phpHost+CityData.info[0].image)">
			<img src="{{phpHost}}/{{CityData.info[0].image}}" style="width:100%;">
	</div>

   <ion-audio-track ng-repeat="track in cityTracks" track="track">
      <div style="margin-top:-13px; margin-bottom: -15px;">
        <div style="width: 100%; overflow: hidden; margin-top: 0px;">
          <div style="float:left; width: 17%; margin-top: 8px;" >
            <ion-audio-controls style="">
              <a class="button button-icon icon" style="background-color:transparent;" ion-audio-play></a>

            </ion-audio-controls>
          </div>
          <div style="float:left; width: 60%; margin-left:0px; text-align:left; margin-top: 20px; font-size: 16px;" >
            <h2 style="font-size: 16px; text-align: left">{{track.title}} <span ng-if="track.sound_length"> |  {{track.sound_length}}</p></h2>
            <p>{{track.artist}}</p>
          </div>
        </div>
      </div>

    </ion-audio-track>


		<div ng-if="cityTracks.length > 0">
			<ion-audio-progress-bar display-time></ion-audio-progress-bar>
		</div>



<!--

    <ion-audio-track ng-repeat="track in cityTracks" track="track">
      <div class="card">
        <div class="item">
          <h2>{{track.title}}</h2>

          <p>{{track.artist}}</p>
          <ion-audio-controls>
            <a class="button button-icon icon" ion-audio-play></a>
            <ion-spinner icon="ios" style="position: relative; top: 8px; left: 4px"></ion-spinner>
          </ion-audio-controls>


        </div>
        <div class="item item-divider">
          <ion-audio-progress-bar track="track" display-time></ion-audio-progress-bar>
        </div>
      </div>
    </ion-audio-track> -->







		<div class="greyLine12"></div>

        <div class="cityInfoDiv">
        	<p class="cityInfoTitleBlack">{{CityData.info[0].title | stripslashes}}</p>

			<p class="cityInfoDescription">
			 <span>{{ CityData.info[0].description | stripslashes | limitTo: cityDescMaxLenth }} </span>
				<a href="" ng-click="showMoreCityDetails()" ng-if="CityData.info[0].description.length > cityDescMaxLenth">{{'ReadMoreText' | translate}}</a>
			</p>



        </div>


		<div class="greyLine"></div>

		<!--
        <div id='map2' ng-controller="CityDetailsMap">
		</div>
		-->

		<div align="center" >
			<div id='geolocate' style="width:40px; height:40px; position:absolute; margin-top:10px; z-index:100; right:10px;">
				<img src='img/svg/map_center.svg' style="width:100%;"/>
			</div>		
			<div id='map' data-tap-disabled="true"></div>
		</div>


		<div class="greyLine"></div>

       <!-- <div class="FavoritesTab" ng-if="CityData.featured_locations.length > 0">
        	<p class="cityInfoTitleBlack"> {{'Latest' | translate}} </p>
            <div style="width:30%;  float:right; text-align:center; margin-bottom: 15px;  margin-left:1%;" ng-repeat="item in CityData.featured_locations"  ui-sref="app.location_details({ItemId: item.id})">
                <img src="{{phpHost}}/{{item.image}}" style="width:100%;">
                <span class="iconText">{{item.title | stripslashes}}</span>
            </div>
        </div>
        <div style="width:100%; overflow:hidden; margin-top:20px;" >

			</div>-->


    <div class="PlacesDiv" ng-if="CityData.featured_locations.length > 0">
      <p class="cityInfoTitleBlack"> {{'Latest' | translate}} </p>
      <div class="PlacesGallery" align="center" >
        <div class="PlacesGalleryDiv">
          <div class="PlacesGalleryImg" ng-repeat="item in CityData.featured_locations" ui-sref="app.location_details({ItemId: item.id})" >
            <img src="{{phpHost}}/{{item.image}}" style="width:100%;">
            <span class="iconText">{{item.title | stripslashes}}</span>
          </div>
        </div>
      </div>

    </div>



	</div>



	<!-- מקומות -->
	<div align="center" ng-if="ActiveTab == 2" style="margin-top:30px;">

     <div class="PlacesDiv" ng-if="CityData.sites.length >0">
    	<div class="PlacesTitle">{{'CityDetailsSites' | translate}}  </div>
        <div class="PlacesGallery" align="center" >
            <div class="PlacesGalleryDiv">
                <div class="PlacesGalleryImg" ng-repeat="item in CityData.sites" ng-if="CityData.sites.length > 0" >
                    <img src="{{phpHost}}/{{item.image}}" style="width:100%;" ui-sref="app.location_details({ItemId: item.id})">
                        <span class="iconText">{{item.title | stripslashes}}</span>
                </div>
            </div>
		</div>

        <div class="showMore" ng-click="showMore(0)" ng-if="CityData.total_sites > 6" align="left" >
			<span ng-if="sitesLimit == MaxLimit">{{'CityDetailsShowMore' | translate}} </span>
			<span ng-if="sitesLimit > MaxLimit">{{'CityDetailsShowLess' | translate}}</span>
		</div>


        <div class="greyLine"></div>
    </div>




      <div class="PlacesDiv" ng-if="CityData.resutrants.length > 0">
    	<div class="PlacesTitle">{{'CityDetailsResturants' | translate}}  </div>
        <div class="PlacesGallery" align="center" >
            <div class="PlacesGalleryDiv">
                <div class="PlacesGalleryImg" ng-repeat="item in CityData.resutrants | limitTo: resturantLimit" ng-if="CityData.resutrants.length > 0" ui-sref="app.location_details({ItemId: item.id})">
                    <img src="{{phpHost}}/{{item.image}}" style="width:100%;">
                        <span class="iconText">{{item.title | stripslashes}}</span>
                </div>
            </div>
		</div>
		<!--
		ui-sref="app.more_locations({Type: '1', CityId: cityId})"
		-->

        <div class="showMore" ng-click="showMore(1)" ng-if="CityData.total_resturants > 6" align="left" >
			<span ng-if="resturantLimit == MaxLimit">{{'CityDetailsShowMore' | translate}} </span>
			<span ng-if="resturantLimit > MaxLimit">{{'CityDetailsShowLess' | translate}}</span>
		</div>
        <div class="greyLine"></div>
    </div>





	 <div class="PlacesDiv" ng-if="CityData.hotels.length >0">
    	<div class="PlacesTitle">{{'CityDetailsHotels' | translate}}  </div>
        <div class="PlacesGallery" align="center" >
            <div class="PlacesGalleryDiv">
                <div class="PlacesGalleryImg" ng-repeat="item in CityData.hotels" ng-if="CityData.hotels.length > 0" ui-sref="app.location_details({ItemId: item.id})">
                    <img src="{{phpHost}}/{{item.image}}" style="width:100%;">
                        <span class="iconText">{{item.title | stripslashes}}</span>
                </div>
            </div>
		</div>

        <div class="showMore" ng-click="showMore(2)" ng-if="CityData.total_hotels > 6" align="left" >
			<span ng-if="hotelsLimit == MaxLimit">{{'CityDetailsShowMore' | translate}} </span>
			<span ng-if="hotelsLimit > MaxLimit">{{'CityDetailsShowLess' | translate}}</span>
		</div>

        <div class="greyLine"></div>
    </div>




	 <div class="PlacesDiv" ng-if="CityData.shops.length >0">
    	<div class="PlacesTitle">{{'CityDetailsShops' | translate}}  </div>
        <div class="PlacesGallery" align="center" >
            <div class="PlacesGalleryDiv">
                <div class="PlacesGalleryImg" ng-repeat="item in CityData.shops" ng-if="CityData.shops.length > 0" ui-sref="app.location_details({ItemId: item.id})">
                    <img src="{{phpHost}}/{{item.image}}" style="width:100%;">
                        <span class="iconText">{{item.title | stripslashes}}</span>
                </div>
            </div>
		</div>

        <div class="showMore" ng-click="showMore(3)" ng-if="CityData.total_shops > 6" align="left" >
			<span ng-if="shopsLimit == MaxLimit">{{'CityDetailsShowMore' | translate}} </span>
			<span ng-if="shopsLimit > MaxLimit">{{'CityDetailsShowLess' | translate}}</span>
		</div>


        <div class="greyLine"></div>
    </div>



     <div class="PlacesDiv" ng-if="CityData.rentals.length >0">
    	<div class="PlacesTitle">{{'CityDetailsRentals' | translate}}  </div>
        <div class="PlacesGallery" align="center" >
            <div class="PlacesGalleryDiv">
                <div class="PlacesGalleryImg" ng-repeat="item in CityData.rentals" ng-if="CityData.rentals.length > 0" ui-sref="app.location_details({ItemId: item.id})">
                    <img src="{{phpHost}}/{{item.image}}" style="width:100%;">
                        <span class="iconText">{{item.title | stripslashes}}</span>
                </div>
            </div>
		</div>

        <div class="showMore" ng-click="showMore(4)" ng-if="CityData.total_rentals > 6" align="left" >
			<span ng-if="rentalLimit == MaxLimit">{{'CityDetailsShowMore' | translate}} </span>
			<span ng-if="rentalLimit > MaxLimit">{{'CityDetailsShowLess' | translate}}</span>
		</div>


        <div class="greyLine"></div>
    </div>




	</div>

	<div align="center" ng-controller="CityDetailsMap" ng-if="ActiveTab == 3">
	
		<div id='geolocate'  style="width:40px; height:40px; position:absolute; margin-top:70px; z-index:100; right:10px;">
			<img src='img/svg/map_center.svg' style="width:100%;"/>
		</div>
	
		<div id='map2'  data-tap-disabled="true" style="height: {{windowHeight}}px !important; margin-top:70px;"></div>
	</div>
	<!-- מפה -->
	<!--
	<div align="center" ng-show="ActiveTab == 3">
		<div id='map'></div>
	</div>
	-->


	<!-- PlayList
	<div align="center" ng-show="ActiveTab == 4">
		<ion-audio-track ng-repeat="track in LocationTracks" track="track">
			<div class="card">
				<div class="item">

					<ion-audio-controls>
						<a class="button button-icon icon" ion-audio-play></a>
						<ion-spinner icon="ios" style="position: relative; top: 8px; left: 4px"></ion-spinner>
					</ion-audio-controls>


				</div>
				<div class="item item-divider">
                	<div class="trackTitle">
                		<div class="trackTitleLeft">
                    	</div>
                        <div class="trackTitleRight">
                        	<h2>{{track.title}}</h2>
                            <p>{{track.artist}}</p>
                    	</div>
                    </div>

					<ion-audio-progress-bar track="track" display-time></ion-audio-progress-bar>
				</div>
			</div>
		</ion-audio-track>
	</div> -->
	<!-- new Playlist -->

	<div align="center" ng-show="ActiveTab == 4" style="margin-top:0px; ">






<!--

	<ion-audio-track track="dynamicTrack" toggle-playback="togglePlayback">
		  <div class="card">
			  <div class="item">
				  <h2>{{dynamicTrack.title}}</h2>

				  <p>{{dynamicTrack.artist}}</p>

				  <ion-audio-controls ng-if="dynamicTrack.url">
					  <a class="button button-icon icon" ion-audio-play></a>

					  <ion-spinner icon="ios" style="position: relative; top: 8px; left: 4px"></ion-spinner>

				  </ion-audio-controls>

			  </div>
         <ion-audio-progress-bar track="track" display-time></ion-audio-progress-bar>
		  </div>
	</ion-audio-track> -->
	<div style="">
		<!--<div style="margin-bottom: -30px; margin-top: 0">-->

		<!--</div>-->
        <img ng-if="cityTrackMainImage" src="{{phpHost+cityTrackMainImage}}" style="width:100%;"/>

		<div ng-if="LocationTracks.length > 0" style="background-color:#39a0ec; margin-top:-5px; ">
                <div style="padding-top: 10px; color: white; font-weight: bold; text-align: left; padding-left:12px; font-size: 20px">{{cityTrackMainTitle}}</div>
		  <div style="margin-top:-10px;">

			    <ion-audio-progress-bar class="AudioTrack"  duration progress display-time ></ion-audio-progress-bar>
			
		  </div>
		</div>

	</div>

    <ion-audio-track ng-repeat="track in LocationTracks" track="track" >
      <div>
        <div style="width: 100%; overflow: hidden; margin-top: 20px;" >
          <div style="float: left; width: 30%" align="center">
            <div style="width: 70%">
              <img  ng-if="track.image != ''" src="{{phpHost+track.image}}" style="width:100%"/>
              <img  ng-if="track.image == ''" src="{{phpHost+CityData.info[0].image}}" style="width:100%"/>

              <!-- <img ng-if="track.image != '' " src="{{phpHost}}/{{track.image}}" style="width:100%"/>-->
            </div>
          </div>

          <div style="float: left; width: 50%; margin-top: 5px; text-align: left">
            <h2 style="font-size: 14px">{{track.title}} <span ng-if="track.sound_length"> |  {{track.sound_length}}</p></h2>
          </div>
          <div style="float: left; width: 20%" align="center">
            <div style="width: 50%" ng-click="changeTrackImage($index,track,track.image)">
              <ion-audio-controls>
                <ion-audio-play> 
					<img ng-if="currectlyPlayedIndex != $index" src="img/svg/audio_icon.svg" style="width: 100%" ion-audio-play text-play="Play" text-pause="Pause"/> 
					<img ng-if="currectlyPlayedIndex == $index" src="img/svg/audio_icon_pressed.svg" style="width: 100%" ion-audio-play text-play="Play" text-pause="Pause"/> 
				</ion-audio-play>
                <!--<button class="button button-small button-assertive icon-left" ion-audio-play text-play="Play" text-pause="Pause"></button>
                <ion-spinner></ion-spinner>-->
              </ion-audio-controls>
            </div>
          </div>
          </div>



        </div>
      </div>
    </ion-audio-track>




		<!--<ion-audio-track ng-repeat="track in LocationTracks" track="track">

				<div class="trackTitle">

                      <div class="trackTitleLeft" >
                            <div style="width:100%; margin-top:5px; margin-left:10px; margin-bottom:5px;">
                                <img src="{{phpHost}}/{{cityImage}}" style="width:100%" />
                            </div>
                      </div>

                      <div class="trackTitleCenter"> <!-- <span class="soundLength">2:36</span> -->
    <!-- <h2>{{track.title}}</h2>
    <p>{{track.artist}}</p>
</div>

<!--
ng-click="playPlayList($index)"
-->
      <!--      <div class="trackTitleRight">
                 <ion-audio-controls>
                             <a class="" ion-audio-play  style="color:#f1f2f2">
                             <div style="width:100%" align="center" ng-click="playPlayList($index)">
                                 <img ng-if="selectedSound !=$index" src="img/svg/audio_icon.svg" style="width:60%; margin-top:10px;" />
                                 <img ng-if="selectedSound == $index" src="img/svg/audio_icon_pressed.svg" style="width:60%; margin-top:10px;" />
                           </div>
                        </a> <!--<ion-spinner icon="ios" style="position:relative; left: 4px"></ion-spinner>-->
      <!--    </ion-audio-controls>
       <p style="margin-top:-4px;"></p>
     </div>


</div>
<div >
<!-- <ion-audio-progress-bar track="track" display-time></ion-audio-progress-bar> -->
       

                 




  </ion-content>


   <script id="city-image.html" type="text/ng-template">
			<div style="width:100%;" align="center">
				<div class="modal image-modal transparent" ng-click="closeEnlargedImage()" style="width:80%; margin-top:100px;">
					<ion-scroll zooming="true"  overflow-scroll="false" direction="xy" locking="false" has-bouncing="true" delegate-handle="zoom-pane" class="transparent" min-zoom="1" scrollbar-x="false" scrollbar-y="false">
						<img ng-src="{{enlargedImage}}" style="width:100%;">
					</ion-scroll>
				</div>
			</div>
  </script>



    <ion-footer-bar style="height:50px;  padding: 0px; margin: 0px;">

        <!-- Footer Bar 59595b -->
        <div class="mainFooter" >
        	<div class="mainFooterTab">
            	<p>{{'Weather' | translate}} : {{CurrentWeather | number:0}} &#176;C </p> <!-- {{'Degrees' | translate}} -->
            </div>
            <div class="mainFooterTab" ui-sref="app.moneyexchange()">
            	<p>{{'MoneyExchange' | translate}} <i class="ion-ios-arrow-right"></i> </p>
            </div>
            <div class="mainFooterTab" ui-sref="app.traslations()">
            	<p>{{'Translation' | translate}} <i class="ion-ios-arrow-right"></i> </p>
            </div>
        </div>

    </ion-footer-bar>


</ion-view>
