<ion-view view-title=""  hide-nav-bar="true" cache-view="false">

  <ion-nav-title align-title="left">
    <img class="title-image" src="img/head_logo.png" />
  </ion-nav-title>
<!--<ion-header-bar  style="background-color:#f1f2f2; height:80px;">
    <div class="mainHeader">
            <div class="mainHeaderLeft">



            	<div class="mainHeaderLeftImg" ng-click="goBackButton()">
					<i class="icon ion-ios-arrow-back" style=" font-size:30px;"></i>

                </div>

                <div class="mainHeaderTitle" style="margin-top:3px;">
                	{{LocationDataArray.info[0].title | stripslashes}}
                </div>
            </div>
            <div class="mainHeaderRight" align="right">
            	<div class="mainHeaderRightImg" ng-click="logoBackHome()">
                	<img  src="img/svg/applogo.svg" style="width:100%" />
                </div>
            </div>
    </div>
</ion-header-bar> -->

<ion-header-bar  style="background-color:#f1f2f2; height:75px;">
         <div class="mainHeader">
         	<div class="mainHeaderBack" ng-click="LocationBack()">
            	<div class="mainHeaderLeftImg" >
					        <i class="icon ion-ios-arrow-back" style="font-size:30px;"></i>
              </div>
          </div>
           <div class="mainHeaderLeft" ng-click="LocationBack()">
                <div class="mainHeaderTitle" style="margin-top:3px;">
                	{{LocationDataArray.info[0].title | stripslashes}}
                </div>
            </div>
            <div class="mainHeaderRight" align="right">
            	<div class="mainHeaderRightImg" ng-click="logoBackHome()">
                	<img  src="img/svg/applogo.svg" style=" height:40px; " />
                </div>
            </div>
        </div>
</ion-header-bar>


    <ion-content class="content" style="background-color:#f1f2f2;  ">




	<!-- מידע על העיר -->
	<div class="infoGallery" align="center">
    	<div ng-if="LocationGallery.length == 0" ng-click="showLocationImageModal(phpHost+LocationDataArray.info[0].image)">
			<img src="{{phpHost}}/{{LocationDataArray.info[0].image}}" style="width:100%;">
		</div>

		<ion-slide-box  ng-if="LocationGallery.length > 0 ">
			  <ion-slide ng-repeat="item in LocationGallery">
				 <img ng-src="{{phpHost}}/{{item.image}}" ng-click="showLocationImageModal(phpHost+item.image)"  style="width:100%" />
			  </ion-slide>
		</ion-slide-box>


    <ion-audio-track ng-repeat="track in LocationTracks" track="track">


        <div style=" margin-top: -13px; margin-bottom: -15px;">
          <div style="width: 100%; overflow: hidden; margin-top: 0px;">
            <div style="float: left; width: 17%; margin-top: 8px;" >
              <ion-audio-controls style="">
                <a class="button button-icon icon" style="background-color:transparent;" ion-audio-play></a>
                <!-- <ion-spinner icon="ios" style="position: relative; top: 18px; left: 4px"></ion-spinner> -->
              </ion-audio-controls>
            </div>
            <div style="float:left; width: 60%; margin-left:0px; text-align:left; margin-top: 20px; font-size: 16px;" >
              <h2 style="font-size: 16px; text-align: left">{{track.title}} <span ng-if="track.sound_length"> |  {{track.sound_length}}</p></span>
              <p>{{track.artist}}</p>
			  
            </div>
          </div>
        </div>

    </ion-audio-track>

        <div class="card" ng-if="LocationTracks.length > 0">
            <div class="item item-divider">
                <ion-audio-progress-bar display-time ></ion-audio-progress-bar>
            </div>
        </div>

		
	
    <div class="iconsDiv">
      <div style="display:inline;" ng-click="openWebSite(LocationDataArray.info[0].website)" > <img src="img/share/website.png" style="width:50px; height:50px;"></div>
      <div style="display:inline;" ng-click="openMail(LocationDataArray.info[0].email)"> <img src="img/share/email.png" style="width:50px; height:50px;"></div>
      <div style="display:inline;" ng-click="dialPhone(LocationDataArray.info[0].phone)"> <img src="img/share/phone.png" style="width:50px; height:50px;"></div>
      <div style="display:inline;" ng-click="shareLocationDetails()"> <img src="img/share/share.png" style="width:50px; height:50px;"></div>
    </div>

		<div class="greyLine"></div>
    </div>

	<div class="cityInfoDiv" ng-if="LocationDataArray.info[0].description">
        	<p class="cityInfoTitleBlack">{{'AboutLocation' | translate}}</p>
			<p class="cityInfoDescription">
			 <span>{{ LocationDataArray.info[0].description | stripslashes | limitTo: maxLocationDescLenth }} </span>
				<a href="" ng-click="showMoreBtn()" ng-if="LocationDataArray.info[0].description.length > maxLocationDescLenth">{{'ReadMoreText' | translate}}</a>
			</p>
    </div>




    <div class="greyLine" ng-if="LocationDataArray.info[0].description"></div>

	<div class="cityInfoDiv">
    	<p class="cityInfoTitleBlack">{{'RatingLocation' | translate}}</p>


		<table   style="width:30%">
			<tr style="">
				<td  ng-repeat="n in [] | range:LocationDataArray.info[0].ratings">
					<!-- <img  src="img/s1.png" style="width:30px; margin-top:-3px; margin-left:3px;" />
					<i class="ion-ios-star" style="font-size:30px;  margin-top:-3px; margin-left:3px;"></i>-->
          <img src="img/svg/magendavid_on.svg" style="width: 100%;  margin-top:-3px; margin-left:3px; width: 40px" />
				</td>
				<!--
				<td ng-if="getFloat(SupplierData.rating)">
				<img  src="img/s3.png" style="width:100%; margin-top:-3px;" />
				</td>
				-->
			</tr>
		</table>

	</div>


	<div class="greyLine" ng-if="LocationDataArray.properties.length > 0"></div>

	<div class="cityInfoDiv" ng-if="LocationDataArray.properties.length > 0">
        	<p class="cityInfoTitleBlack">{{'LocationProperties' | translate}}</p>
    </div>


	   <div style="text-align:center; width:100%; overflow:hidden; margin-top:15px; margin-bottom:15px; margin-right:70px;">
            <div ng-repeat="item in LocationDataArray.properties" style="float:left; width:29%; margin-right:3px;">

					<img src="{{phpHost}}/{{item.info[0].image}}" style=" width:20%;">
                    <p style="float:right; margin-right:25px;" class="iconText">{{item.info[0].title}}</p>
				</div>
            	<div style=" "></div>

            </div>
	   </div>

	<div class="greyLine"></div>

	<div id='geolocate' style="width:40px; height:40px; position:absolute; margin-top:10px; z-index:100; right:10px;">
		<img src='img/svg/map_center.svg' style="width:100%;"/>
	</div>
	<div id='map3' data-tap-disabled="true"></div>
	
	

	


	<div class="greyLine"></div>

    <div class="cityInfoDiv">
        	<p class="cityInfoTitleBlack" ng-if="LocationDataArray.info[0].address">{{'AddressLocation' | translate}} </p>
			<p class="cityInfoDescription" ng-if="LocationDataArray.info[0].address">{{LocationDataArray.info[0].address | stripslashes}}</p>
            <p class="cityInfoTitleBlack" ng-if="LocationDataArray.info[0].opening_hours">{{'OpeningHoursLocation' | translate}} </p>
			<p class="cityInfoDescription" ng-if="LocationDataArray.info[0].opening_hours">{{LocationDataArray.info[0].opening_hours | stripslashes}}</p>
            <p class="cityInfoTitleBlack" ng-if="LocationDataArray.info[0].transportation">{{'TransportationLocation' | translate}} </p>
			<p class="cityInfoDescription" ng-if="LocationDataArray.info[0].transportation">{{LocationDataArray.info[0].transportation | stripslashes }}</p>
            <p class="cityInfoTitleBlack" ng-if="LocationDataArray.info[0].phone || LocationDataArray.info[0].website || LocationDataArray.info[0].email">{{'ContactLocation' | translate}} </p>
			<p class="cityInfoDescription" ng-click="dialPhone(LocationDataArray.info[0].phone)" ng-if="LocationDataArray.info[0].phone">{{LocationDataArray.info[0].phone}}</p>
            <p class="cityInfoDescription" ng-click="openWebSite(LocationDataArray.info[0].website)" ng-if="LocationDataArray.info[0].website">{{LocationDataArray.info[0].website}}</p>
            <p class="cityInfoDescription" ng-click="openMail(LocationDataArray.info[0].email)" ng-if="LocationDataArray.info[0].email">{{LocationDataArray.info[0].email}}</p>
    </div>
	</div>

	<div class="greyLine" ng-if="LocationDataArray.recent_locations.length > 0"></div>


        <div class="FavoritesTab" ng-if="LocationDataArray.recent_locations.length > 0">
        	<p class="cityInfoTitleBlack"> {{'Latest' | translate}} </p>

            <div style="width:32%; margin-left:1%; float:right; text-align:center" ng-if="LocationDataArray.recent_locations.length > 0" ng-repeat="item in LocationDataArray.recent_locations" ng-click="navigateDetails(item.id)" >
                <img src="{{phpHost}}/{{item.image}}" style="width:100%;">
                <span class="iconText">{{item.title | stripslashes}}</span>
            </div>

			<!--
            <div style="width:33%; float:right; text-align:center" ng-if="CityData.recent_resturant.length > 0" ui-sref="app.location_details({ItemId: CityData.recent_resturant[0].id})">
                <img src="{{phpHost}}/{{CityData.recent_resturant[0].image}}" style="width:100%;">
                <span>{{CityData.recent_resturant[0].title | stripslashes}}</span>
            </div>

            <div style="width:33%; float:right; text-align:center" ng-if="CityData.recent_hotel.length > 0" ui-sref="app.location_details({ItemId: CityData.recent_hotel[0].id})">
                <img src="{{phpHost}}/{{CityData.recent_hotel[0].image}}" style="width:100%;">
                <span>{{CityData.recent_hotel[0].title | stripslashes}}</span>
            </div>
			-->
        </div>


            <div style="width:100%; overflow:hidden; margin-top:20px;" >

			</div>



		<div class="greyLine"></div>

      <div style="width:100%" align="center">
        <div style="width:95%">
          <button class="button button-block  button-light" style="border:1px solid black;  border-radius:0px; background-color:transparent" ng-click="addReview()">
            {{'WriteReviewLocation' | translate}}<i style="padding: 5px;" class="ion-edit"></i>
          </button>
        </div>
      </div>


      <div class="reviewDiv" ng-repeat="item in ratingsArray">
        <div class="reviewDivTitle">{{item.comment | stripslashes}}</div>
        <div class="reviewDivDesc">&nbsp;{{item.time }}</div>
      </div>

  </ion-content>


    <ion-footer-bar style="height:50px; background-color: red;  padding: 0px; margin: 0px; ">


        <!-- Footer Bar 59595b -->
        <div class="mainFooter" style="margin:0; padding:0;">
        	<div class="mainFooterTab">
            	<p>{{'Weather' | translate}} : {{CurrentWeather| number:0}} &#176;C </p> <!-- {{'Degrees' | translate}} -->
            </div>
            <div class="mainFooterTab" ui-sref="app.moneyexchange()">
            	<p>{{'MoneyExchange' | translate}} <i class="ion-ios-arrow-right"></i> </p>
            </div>
            <div class="mainFooterTab" ui-sref="app.traslations()">
            	<p>{{'Translation' | translate}} <i class="ion-ios-arrow-right"></i> </p>
            </div>
        </div>

    </ion-footer-bar>




   <script id="location-image.html" type="text/ng-template">
			<div style="width:100%;" align="center">
				<div class="modal image-modal transparent" ng-click="closeEnlargedImage()" style="width:80%; margin-top:100px;">
					<ion-scroll zooming="true"  overflow-scroll="false" direction="xy" locking="false" has-bouncing="true" delegate-handle="zoom-pane" class="transparent" min-zoom="1" scrollbar-x="false" scrollbar-y="false">
						<img ng-src="{{enlargedImage}}" style="width:100%;">
					</ion-scroll>
				</div>
			</div>
  </script>



</ion-view>
