<ion-view view-title="" cache-view="false" hide-nav-bar="true">




	<ion-nav-title align-title="left">
        <img class="title-image" src="img/head_logo.png" />
    </ion-nav-title>


	<ion-header-bar  style="background-color:#f1f2f2; height:75px;">
		<div class="mainHeader">
				<div class="mainHeaderLeft" >

					<div class="mainHeaderLeftImg" ng-click="goBackButton()">
						<i class="icon ion-ios-arrow-back" style=" font-size:30px;"></i>
						<!-- <img  src="img/svg/prev.svg" style="width:100%; background-color:black" /> -->
					</div>

					<div class="mainHeaderTitle" style="margin-top:3px;">
						{{'TranslationText' | translate}}
					</div>
				</div>
				<div class="mainHeaderRight" align="right">
					<div class="mainHeaderRightImg" ng-click="logoBackHome()">
						<img  src="img/svg/applogo.svg" style=" height:40px; " />
					</div>
				</div>
		</div>
	</ion-header-bar>




    <ion-content class="content" style=" background-color:#f1f2f2; margin-top:30px;">

		  <ion-scroll  direction="x" class="wide-as-needed" delegate-handle="daysScroll" style="margin-top:5px;">
			<a ng-click="selectCat($index)" class="button  daysButton" style="height:10px !important; width:100px;" ng-repeat="item in translationsCategories"> {{item.title}}</a>
		  </ion-scroll>





    <ion-audio-track ng-repeat="track in TrackList" track="track">




        <div style=" margin-top: -13px; margin-bottom: -15px;">
          <div style="width: 100%; overflow: hidden; margin-top: 0px;">
            <div style="float: left; width: 17%; margin-top: 8px;" >
              <ion-audio-controls style="">
                <a class="button button-icon icon" style="background-color:transparent;" ion-audio-play></a>

              </ion-audio-controls>
            </div>
            <div style="float:left; width: 60%; margin-left:0px; text-align:left; margin-top: 20px; font-size: 16px;" >
              <h2 style="font-size: 16px; text-align: left">{{track.title}}</h2>
              <p>{{track.artist}}</p>
            </div>
          </div>

        </div>

    </ion-audio-track>

		<!--
        <div class="card" ng-if="TrackList.length > 0">
            <div class="item item-divider">
                <ion-audio-progress-bar display-time display-info></ion-audio-progress-bar>
            </div>
        </div>
		-->

  </ion-content>

    <ion-footer-bar style="height:50px; background-color:#f1f2f2; padding: 0px; margin: 0px;">

        <!-- Footer Bar 59595b -->
        <div class="mainFooter" >
        	<div class="mainFooterTab">
            	<p>{{'Weather' | translate}} : {{CurrentWeather | number:0}} &#176;C </p> <!-- {{'Degrees' | translate}} -->
            </div>
            <div class="mainFooterTab" ui-sref="app.moneyexchange()">
            	<p>{{'MoneyExchange' | translate}} <i class="ion-ios-arrow-right"></i> </p>
            </div>
            <div class="mainFooterTab" ui-sref="app.traslations()">
            	<p>{{'Translation' | translate}} <i class="ion-ios-arrow-right"></i> </p>
            </div>
        </div>

    </ion-footer-bar>


</ion-view>
