<ion-view view-title=""  hide-nav-bar="true" cache-view="true">
	<ion-nav-title align-title="left" >
        <img class="title-image" src="img/head_logo.png" />
    </ion-nav-title>


<ion-header-bar  style="background-color:#ffffff; height:70px; border: 0px solid white">
    	<div class="mainHeader">
            <div class="mainHeaderLeft">
                <p>{{'WhereToGo' | translate}}</p>
            </div>
            <div class="mainHeaderRight" align="right">
            	<div class="mainHeaderRightImg">
                	<img  src="img/svg/applogo.svg" style=" height:40px; " />
                </div>
            </div>
        </div>
</ion-header-bar>



    <ion-content  >

	<!--
	<div style="position:relative; z-index:1;">
	-->

        <div style="width:100%" align="center">
       	 	<div class="mainLine"></div>
        </div>


        <!-- City  -->
		<div>

		<!--
		ui-sref="app.citydetails({ItemId: item.id})"
		-->
        	<div class="cityTab"  ng-repeat="item in citiesArray" ng-click="selectCity($index)">
                <div class="cityInfo">
                      <div class="cityTitle" >
                        <p>{{item.title | stripslashes}}</p>
                      </div>
                      <div style="width:100%;" align="center">
                        <div class="cityIcons">
                            <div class="cityIcon">
                                <img src="img/svg/eye icon.svg" class="mainIconImg"  />
                                  <div class="cityIconText">{{item.city_data.total_sites.length}}</div>
                              </div>
                              <div class="cityIcon">
                                <img src="img/svg/bed icon.svg" class="mainIconImg"  />
                                  <div class="cityIconText">{{item.city_data.total_hotels.length}}</div>
                              </div>
                              <div class="cityIcon">
                                <img src="img/svg/food_icon.svg" class="mainIconImg" />
                                  <div class="cityIconText">{{item.city_data.total_resturants.length}}</div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <img src="{{phpHost}}/{{item.image}}" imageonload class="mainImage" style=" width:100%" />
              </div>
          </div>
		  


	

  </ion-content>

  
    <ion-footer-bar style="height:50px;  padding: 0px; margin: 0px;">

        <!-- Footer Bar 59595b -->
        <div class="mainFooter" >
        	<div class="mainFooterTab">
            	<p>{{'Weather' | translate}} : {{CurrentWeather | number:0}} &#176;C </p> <!-- {{'Degrees' | translate}} -->
            </div>
            <div class="mainFooterTab" ui-sref="app.moneyexchange()">
            	<p>{{'MoneyExchange' | translate}} <i class="ion-ios-arrow-right"></i> </p>
            </div>
            <div class="mainFooterTab" ui-sref="app.traslations()">
            	<p>{{'Translation' | translate}} <i class="ion-ios-arrow-right"></i> </p>
            </div>
        </div>

    </ion-footer-bar>  

	
 <!--   </div> -->


 




</ion-view>
