<ion-view view-title="" cache-view="false" hide-nav-bar="true">
	<ion-header-bar  style="background-color:#f1f2f2; height:75px;">
		<div class="mainHeader" style="">
				<div class="mainHeaderLeft" ng-click="goBackButton()">



					<div class="mainHeaderLeftImg" ng-click="goBackButton()">
						<i class="icon ion-ios-arrow-back" style=" font-size:30px;"></i>
						<!-- <img  src="img/svg/prev.svg" style="width:100%; background-color:black" /> -->
					</div>

					<div class="mainHeaderTitle" style="margin-top:3px;">
						{{'MoneyExchangeText' | translate}}
					</div>
				</div>
				<div class="mainHeaderRight" align="right">
					<div class="mainHeaderRightImg" ng-click="logoBackHome()">
						<img  src="img/svg/applogo.svg" style=" height:40px; " />
					</div>
				</div>
		</div>
	</ion-header-bar>

    <ion-content class="content" style="background-color:#f1f2f2; margin-top:30px; ">

            <div class="list">

              <label class="item item-input item-select iconText">
                <div class="input-label iconText">
                  {{'FromCurrencyText' | translate}}
                </div>
                <select ng-model="fields.fromcurrency">
                  <option value="0">{{'NISText' | translate}}</option>
                  <option value="1" >{{'USDText' | translate}}</option>
                  <option value="2">{{'EUROText' | translate}}</option>
                  <option value="3">{{'CNYText' | translate}}</option>
                </select>
              </label>

              <label class="item item-input item-select">
                <div class="input-label iconText">
                  {{'ToCurrencyText' | translate}}
                </div>
                <select ng-model="fields.tocurrency">
                  <option value="0">{{'NISText' | translate}}</option>
                  <option value="1">{{'USDText' | translate}}</option>
                  <option value="2">{{'EUROText' | translate}}</option>
                  <option value="3">{{'CNYText' | translate}}</option>
                </select>
              </label>



              <label class="item item-input item-stacked-label iconText">
                <!-- <span class="input-label iconText">{{'EnterAmountText' | translate}}</span> -->
                <input type="tel" style="padding-left: 18px; width: 105%; margin-left: -5%;" ng-model="fields.amount"  placeholder="{{'EnterAmountText' | translate}}">
              </label>

              <label class="item item-input item-stacked-label iconText">
                <!--<span class="input-label iconText">{{'ResultText' | translate}}</span>-->
                <input type="text" style="padding-left: 18px; width: 105%; margin-left: -5%;"  ng-model="fields.result | number : 2" placeholder="{{'ResultText' | translate}}" readonly>
              </label>


            </div>

  	</ion-content>


    <ion-footer-bar style="height:50px; background-color:#f1f2f2; padding: 0px; margin: 0px;">

        <!-- Footer Bar 59595b -->
        <div class="mainFooter" >
        	<div class="mainFooterTab">
            	<p>{{'Weather' | translate}} : {{CurrentWeather | number:0}} &#176;C </p> <!-- {{'Degrees' | translate}} -->
            </div>
            <div class="mainFooterTab" ui-sref="app.moneyexchange()">
            	<p>{{'MoneyExchange' | translate}} <i class="ion-ios-arrow-right"></i> </p>
            </div>
            <div class="mainFooterTab" ui-sref="app.traslations()">
            	<p>{{'Translation' | translate}} <i class="ion-ios-arrow-right"></i> </p>
            </div>
        </div>

    </ion-footer-bar>



</ion-view>
