@font-face {
  font-family: 'Reeji';
  src: url('font/reeji.ttf'); /* IE9 Compat Modes */
}

/*@font-face {*/
	/*font-family: "Reeji";*/
	/*src: url(../fonts/reeji.otf) format("truetype");*/
/*}*/


/* Empty. Add your own CSS if you like   Main Color : 39a0ec*/
/*   Main Color : 136ab5 */
/*   Main Color : 39a0ec */

.mt10
{
	margin-top:10px;
}

.mt15
{
	margin-top:15px;
}

.mt20
{
	margin-top:20px;
}

/* Main Page */
.mainHeader
{
	color:#39a0ec;
	font-size:19px;
	padding:0 10px;
	overflow:hidden;
	width:100%;
	margin-top:10px;
}

.mainHeaderBack
{
	float:left;
	width:3%;
	margin-top:5px;
	font-weight:bold;
}

.mainHeaderLeft
{
	float:left;
	width:57%;
	margin-top:6px;
	font-weight:bold;
}

.mainHeaderRight
{
	float:right;
	width:33%;
  margin-right: 20px;
}

.mainHeaderRightImg
{
	width:70%;
}

.mainHeaderLeftImg
{
	width:5%;
	float:left;
}

.mainLine
{
	background-color:#39a0ec;
	width:96%;
	height:1px;
	margin-top:-5px;
}


.cityTab
{
	margin-top:5px;
}

.cityInfo
{
	position:absolute;
	margin-top:50px;
	text-align:center;
	color:white;
	width:100%;
	font-size:35px;
	font-weight:bold;
}

.cityIcons
{
	width:60%;
	overflow:hidden;
}

.cityIcon
{
	width:32.3%;
	font-size:22px;
	margin-top:10px;
	text-align:left;
	float:left;
}

.cityIconText
{
	left:0px;
	width:26px;
	position:relative;
  float: right;
  text-align: right;
  margin-right: 3px;
  margin-top:10px;
}

.button:hover {
  background-color: #336699; /* Green */
  color: white;
}

.mainFooter
{
	background-color:#59595b;
	width:100%;
	overflow:hidden;
	margin-top:0px;
}

.mainFooterTab
{
	float:left;
	width:33%;
	color:white;
	padding:5px;
	font-size:15px;
	font-weight:bold;
	text-align:center;
	margin-top:10px;
}

.loading
{
	direction:ltr;
}

.tabsDiv
{
	overflow:hidden;
	width:100%;
	margin-top:0px;
	position:relative;
	padding:10px;
}



.tabsActive
{
	float:right;
	width:50%;
	font-size:16px;
	color:#333;
	text-align:center;
	padding:10px;
	border-bottom:1px solid #900;
}



.tabsNotActive
{
	float:right;
	width:50%;
	font-size:16px;
	color:#CCC;
	border-bottom:1px solid #CCC;
	text-align:center;
	padding:10px;
}

.ListRow
{
	overflow:hidden;
	width:100%;
}

.ListRight
{
	width:27%;
	padding:10px;
	float:right;
}

.ListRight img
{
	border:4px solid #d5d6d5
}

.ListLeft
{
	width:10%;
	padding-left:20px;
	float:left;
	margin-top:30px;
}

.ListCenter
{
	text-align:right;
	direction:rtl;
	padding:5px;
	float:right;
}

.ListCenter h3
{
	font-size:16px;
	color:#686868;
	font-weight:bold;
}

.ListCenter h4
{
	margin-top:-8px;
	font-size:14px;
	color:#686868;
}

.ListCenter div
{
	margin-top:-8px;
}


/* City Details */

.HeaderTabs
{
	width:106%;
	overflow:hidden;
/*border-bottom:#969696 2px solid;
  border-top:#969696 2px solid;*/
  text-align:center;
  margin-left:-6%;
}

.leftHeaderTabs
{
  color:#bdbdbd;
  float:left;
  width:25%;
  margin-top:10px;
  margin-bottom:10px;
}

.leftHeaderTabsActive
{
  color:#59595b;
  float:left;
  width:25%;
  margin-top:10px;
  margin-bottom:10px;
}


.centerHeaderTabs
{
  color:#bdbdbd;
  float:left;
  width:25%;
  border-left:#969696 2px solid;
  border-right:#969696 2px solid;
  padding-top:10px;
  padding-bottom:10px;
}

.centerHeaderTabsActive
{
  color:#59595b;
  float:left;
  width:25%;
  border-left:#969696 2px solid;
  border-right:#969696 2px solid;
  padding-top:10px;
  padding-bottom:10px;
}


.rightHeaderTabs
{
  color:#bdbdbd;
  float:left;
  width:25%;
  margin-top:10px;
  margin-bottom:10px;
}

.rightHeaderTabsActive
{
  color:#59595b;
  float:left;
  width:25%;
  margin-top:10px;
  margin-bottom:10px;
}



.rightHeaderTabs1
{
  color:#bdbdbd;
  float:left;
  width:25%;
  border-left:#969696 2px solid;
  padding-top:10px;
  padding-bottom:10px;
}

.rightHeaderTabsActive1
{
  color:#59595b;
  float:left;
  width:25%;
  border-left:#969696 2px solid;
  padding-top:10px;
  padding-bottom:10px;
}




.mainHeaderTitle
{
  float:left;
  margin-left:15px;
  margin-top:-2px;
}

.infoGallery
{
  margin-top:10px;
}

.greyLine
{
  background-color:#cccccc;
  height:2px;
  width:100%;
  margin-top:10px;
}

.cityInfoDiv
{
  text-align:left;
  font-size:14px;
  padding:10px;
  color:#636f62;
  margin-top: 20px;
}


.cityInfoTitle
{
  font-weight:bold;
  font-size:18px;
  color:#636f62;
  height:200px;
}

.cityInfoTitleBlack
{
  font-size:18px;
  color:#000000;
  /*height:200px; */
}


.FavoritesTab
{
  text-align:left;
  font-size:14px;
  padding:10px;
}

/* Places Page*/

.PlacesDiv
{
	text-align:left;
	font-size:14px;
	padding:10px;
}

.PlacesTitle
{
	font-weight:bold;
	font-size:18px;
	color:#636f62;
	margin-left:10px;
}

.PlacesGallery
{
	width:100%;
	overflow:hidden;
	margin-top:20px;
}

.PlacesGalleryDiv
{
	width:98%;
}

.PlacesGalleryImg
{
	width:31%;
	margin-left:2%;
	float:left;
	height:120px;
}

.showMore
{
	direction:ltr;
	margin-top:20px;
	color:#999
}

#map
{
	width:100%;
	height:35vh;
	/*position:absolute; top:0; bottom:0; width:100%; */
}

#map2
{
	width:100%;
	/*position:absolute; top:0; bottom:0; width:100%; */
}

#map3
{
	width:100%;
	height:35vh;
	/*position:absolute; top:0; bottom:0; width:100%; */
}


.wide-as-needed
{
  	direction:ltr;
    overflow:auto;
  	white-space: nowrap;
}

.scroll
{
	direction:ltr;
  	min-width: 100%;
}

.daysButton
{
	margin-left:2px;
	border-radius:0px;
	padding:0px 15px 0px 15px !important;
	height:0px !important;
	background-color:#39a0ec;
	font-weight:700;
	font-family: 'Rubik', sans-serif;
	height:10px !important;
	color:#fff;

}


.daysButton1
{
  margin-left:2px;
  border-radius:0px;
  padding:8px 3px 8px 3px !important;
  background-color:#39a0ec;
  font-family:'Reeji', 'Rubik', sans-serif;
  height:50px !important;
  color:#fff;
  width:22%;
  text-align: center;
  font-size: 17px !important;
  font-weight: 500 !important;
}


.custom-popup.popup-container .popup {
  width:90%;
}

.transparent {
  background: transparent !important;
}

.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}

.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}

.iconsDiv
{
  margin-top: 20px;
}


.iconsDiv i
{
	font-size:32px;
	margin:6px;

	color:black;
}

/* Music Player */

.trackTitle
{
	width:100%;
	float:left;
	overflow:hidden;
  margin-bottom: -15px;
  margin-top: 10px;
}

.trackTitleLeft
{
	float:left;
	width:20%;
}

.trackTitleRight
{
	float:right;
	width:15%;
	text-align:left;
	margin-top:-14px;
}

.trackTitleCenter
{
	float:left;
	width:50%;
	margin-top:0px;
	text-align:left;
	margin-left:20px;
	font-size:14px;
}

.trackTitleCenter h2
{
	font-size:18px;
	color:#737475;
	margin-top:10px;
}

.trackIcon
{
	float:left;
	width:20%;
}

.blueLine
{
	height:1px;
	width:100%;
	background-color:#cccccc;
	overflow:hidden;
	margin-top:10px;
  margin-bottom: 0px;
}

.soundLength
{
	color:#cccccc;
	margin-left:10px;
}

.mainIconImg
{
	 width:32px;
	 margin-top:2px;
	 float:right;
}

.reviewDiv
{
  margin-top: 20px;
  padding-left: 13px;
}

.reviewDivTitle
{
	font-size:17px;
	color:#636f62;
}

.reviewDivDesc
{
	font-size:13px;
	color:#cccccc;
}

.iconText
{
	color:#636f62
}
/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .5;
  }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
  }
}
.spinner.spinner-assertive
{
	fill: #2786D2 !important;
	stroke:#2786D2 !important;
}
.loading {
	display:none;
}

.button.button-positive {
	background-color:#2380CC;
}

.leaflet-popup-content img
{
	width:100%;
}

.button.button-icon.ion-play:hover, .button.button-icon.ion-pause:hover{
	color: #2786D2 !important;
}


ion-audio-progress , ion-audio-duration
{
	color:white !important;
}



.AudioTrack input[disabled]
{
	color:white !important;
}

.ng-pristine
{
	color:white !important;
}

.ng-untouched
{
	color:white !important;
}
